.login-form {
  margin: 7.5% auto;
  position: relative;
  border: 1px solid rgba(112, 112, 112, 0.17);
  background-color: #fff;
  border-radius: .25rem;
  //padding: 1.25rem 0 0 0;
  padding: 1.25rem;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 1rem;
    text-align: center;
    color: #707070;
  }

  &__form {
    margin-top: 30px;
  }

  &__row {
    margin-bottom: 1rem;
    &:last-child {
      margin-top: 20px;
    }
  }
  &__label {
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    display: block;
    margin-bottom: .5rem;
  }
  &__field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    &:focus {
      border-color: #a2a2a2;
      color: #000;
    }
  }

  & .button {
    font-size: 16px;
    padding: 6px 12px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 38px;
  }
}

