.header {
  border: 1px solid rgba(112, 112, 112, 0.17);
  position: relative;
  background-color: #fff;
  border-radius: .25rem;
  //padding: 1.25rem 0 0 0;
  padding: 1.25rem;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
};
