@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto:500|Source+Sans+Pro:400&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgb(33, 37, 41);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  .loader {
    background: #abd1f3;
    background: -moz-linear-gradient(left, #abd1f3 10%, rgba(255,255,255, 0) 42%);
    background: -webkit-linear-gradient(left, #abd1f3 10%, rgba(255,255,255, 0) 42%);
    background: -o-linear-gradient(left, #abd1f3 10%, rgba(255,255,255, 0) 42%);
    background: -ms-linear-gradient(left, #abd1f3 10%, rgba(255,255,255, 0) 42%);
    background: linear-gradient(to right, #abd1f3 10%, rgba(255,255,255, 0) 42%);
  }
  .loader::before {
    background: #abd1f3;
  }
  .loader::after {
    background: #f5f5f5;
  }
}
